.tooling/
.dart_tool/
build/
.flutter-plugins-dependencies
android/local.properties
android/.gradle/
*.iml
.idea/
*.log
*.jks
*.keystore
key.properties
.env
.env.*
dist/*
!dist/安装说明.txt
!dist/SHA256.txt
!dist/布布大王的菜谱-v1.0.0.apk
!dist/安装说明-v1.1.0.txt
!dist/SHA256-v1.1.0.txt
